* {
	margin: 0;
	padding: 0;
	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------------------------Header----------------------------------------*/

header {
	width: 100%;
	background: linear-gradient(rgba(0, 7, 98, 0.5), rgba(0, 0, 0, 0.5));
	position: fixed;
	z-index: 1;
	height: 75px;
}

.main-nav {
	float: right;
	list-style: none;
	margin: 30px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: rgba(255, 255, 255, 0.1);
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}


.main-nav li a:hover {
	border: 1px solid white;
	color: white;
	background: rgba(0,0,0,0.5);
}

.logo {
	float: left;
	background-image: url(img/com.png);
	padding-left: 70px;
	margin-left: 75px;
	width: 0px;
	background-size: cover;
}



.logo h2{
	margin: 5px;
}

.row {
	margin: auto;
}

/*--------------------------------------Main Content--------------------------------------------*/

/*main content*/
main {
	clear: both;
	height: 100vh;
	min-height: 100px;
	float: left;
	background: rgba(8, 8, 8, 0.9);
	height: 100vh;
	width: 70%;
	min-width: 350px;
}

/*background*/
#img{
	z-index: -1;
	position: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/510478.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

/*artikel*/
article {
	margin: 100px 40px 100px 35px;
	word-break: break-all;
	color: gray;
}
section {
	padding: 10px;
	background: #f0f0f0;
}
/*bagian link dan list*/
aside {
	float: right;
	background: rgba(10, 10, 10, 0.9);
	position: relative;
	height: 100vh;
	width: 30%;
	min-width: 350px;
	min-height: 100px;
	color: white;
}
#link {
	margin: 100px 40px 100px 35px;
}
#ads {
	background: grey;
	width: 300px;
	height: 300px;
	padding: 10px;
}
/*-------------------------------------Footer-------------------------------------------------*/

footer {
	clear: both;
	position: relative;
	font-family: "Roboto";
	height: 50%;
	width: 100%;
	min-height: 100px;
	background:  #041527;
	color: white;
}
#copy {
	font-size: 20px;
	text-align: center;
	padding: 50px 10px 0px 10px;
}

