* {
	margin: 0;
	padding: 0;
	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------------------------Header----------------------------------------*/

header {
	width: 100%;
	background: linear-gradient(rgba(0, 7, 98, 0.5), rgba(0, 0, 0, 0.5));
	position: fixed;
	z-index: 1;
	height: 75px;
}

.main-nav {
	float: right;
	list-style: none;
	margin: 30px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: rgba(255, 255, 255, 0.1);
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}


.main-nav li a:hover {
	border: 1px solid white;
	color: white;
	background: rgba(0,0,0,0.5);
}

.logo {
	float: left;
	background-image: url(img/com.png);
	padding-left: 70px;
	margin-left: 75px;
	width: 0px;
	background-size: cover;
}



.logo h2{
	margin: 5px;
	float: left;
}

.row {
	margin: auto;
}

/*--------------------------------------Main Content--------------------------------------------*/

#Content1 {
	clear: both;
	height: 100vh;
}

/*bagian awal*/
#img{
	z-index: -1;
	position: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/510478.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	float: left;
}

/*form join*/
.box {
	position: sticky;
	top: 30%;
	left: 500px;
	align-items: center;
	width: 300px;
	min-height: 100px;
	height: 40%;
	background: rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 2em;
	transition: background 1s, border-radius 0.5s;
}

.box:hover{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
}

.box > h2{
	color: rgba(0,0,0,0.8);
	padding: 40px 0px 100px 0px;
	transition: color 0.5s;
}
.box > h2:hover{
	color: rgba(255, 255, 255, 0.5);
}

.btn1, .btn2{
	background-color: rgba(128, 128, 128, 0.29);
	border-radius: 5px;
	padding: 5px;
	font-size: 25px;
	font-family: "future";
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	transition: background-color 0.5s, color 0.5s;
}

.btn1:hover{
	background-color: #004d00;
	color: black;
}

.btn2:hover{
	background-color: black;
	color: #004d00;
}

/*bagian about*/
#Content2 {
	position: relative;
	min-height: 100px;
	width: 80%;
	background-color: rgba(9, 9, 9, 0.6);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10%;
	color: white;
	/*perspective: 100px;*/
}

img {
	padding: 50px;
/*	background-size: cover;*/
	width: 100px;
	height: 100px;
}

.img1, .img2, .img3, .img4{
	width: 200px;
	height: 200px;
	background: rgba(16, 28, 173, 0.36);
	margin: 20px;
/*	padding: 5px;*/
	box-sizing: border-box;
}

/*belajar animasi css3*/
.img1:hover {
	transition-duration: 1s;
	transform: rotateY(180deg);
	}

/*bagian portofolio*/
#Content3 {
	background: rgba(8, 8, 8, 0.9);
	position: relative;
	height: 70vh;
	width: 100%;
	min-height: 100px;
}

#Slider{
	width: 100%;
	height: 100%;
	margin: auto;
	-webkit-animation: slide 50s infinite;
}

@keyframes slide{
	0%{
		background: url(img/pic06.jpg);
		background-size: cover; 
	}
	25%{
		background: url(img/pic01.jpg);
		background-size: cover;
	}
	50%{
		background: url(img/pic05.jpg);
		background-size: cover;
	}
	75%{
		background: url(img/pic03.jpg); 
		background-size: cover; 
	}
	100%{
		background: url(img/pic06.jpg);
		background-size: cover; 
	}
}

#about {
	position: absolute;
	top: 8%;
	left: 9%;
	color: white;
	padding: 10px;
	word-wrap: break-word;
	background: rgba(0,0,0,0.5);
	width: 80%;
	height: 80%;
}
/*-------------------------------------Footer-------------------------------------------------*/

footer {
	clear: both;
	position: relative;
	font-family: "Roboto";
	height: 50%;
	width: 100%;
	min-height: 100px;
	background:  #041527;
	color: white;
}
#copy {
	font-size: 20px;
	text-align: center;
	padding: 50px 10px 0px 10px;
}

